<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ref_insurance.name %>
</p>

<%= link_to 'Edit', edit_ref_insurance_path(@ref_insurance) %> |
<%= link_to 'Back', ref_insurances_path %>
