<section class="largeQuote pb40 pt40">
<div class="container">
	<div class="row">
		<div class="span12 text-center">
			<h1>LCPFH is now SGPFH...</h1>
			<h2 class="subTitle">The Lowndes County Partnership for Health, Inc. is now the South Georgia Partnership for Health. Our mission is to promote the health of the community through and inclusive and unified partnership. Health care providers, educators, public health, the business community, and the faith community are brought together for the purpose of evaluating the health needs of the community and creating cost efficient solutions. For more information contact John at <%= mail_to 'john.sparks@sgpfh.org' %>
			</h2>

		</div>
	</div>
</div>
</section>
<!-- services -->
<%= render :partial => "common/sections/services" %>
<!-- parallax -->
<section id="paralaxSlice3" data-stellar-background-ratio="0.5">
<div class="maskParent">
	<div class="paralaxMask"></div>
	<div class="paralaxText">
		<blockquote>
			Improving the Health of the Community
		</blockquote>
	</div>
</div>
</section>
<!-- parallax -->
	<!-- team -->
	<%= render :partial => "common/sections/team" %>
	<!-- team -->
	<!-- contact -->
	<%= render :partial => "common/sections/contact" %>
	<!-- content -->
</section>
<!-- call to action -->
<section class="color2">  
	<a name="donations"></a>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="ctaBox ctaBoxFullwidth ctaBox2Cols">
					<div class="ctaBoxText" data-nekoanim="fadeInUp" data-nekodelay="0">
						<h1>
							<strong>South Georgia Partnership for Health</strong><br /> Relies on your generosity to provide its valuable services to the community.
						</h1>
					</div>
					<div class="ctaBoxBtn" data-nekoanim="fadeInDown" data-nekodelay="0">
						<a class="btn btn-lg btn-border" title="" href="https://app.donorview.com/wYl" target="blank">
							<i class="icon-down-open-big"></i> Partnership Cancer Fund Donate Now
						</a>
						<br/><br/>
						<a class="btn btn-lg btn-border" title="" href="https://app.donorview.com/4Am" target="blank">
							<i class="icon-down-open-big"></i> Partnership Health Center Donate Now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- call to action -->