<section id="services" class="color2 shadowBox">
	<div class="container pb30 pt15">
		<div class="row">
			<div class="col-sm-4">
				<article class="boxIcon">
					<a href="#">
						<i class="icon-heart iconBig iconRounded"></i>
						<h2>Partnership Health Center</h2>
						<p></p>
					</a>
				</article>
			</div>
			<div class="col-sm-4">
				<article class="boxIcon">
					<a href="#">
						<i class="icon-thumbs-up iconBig iconRounded"></i>
						<h2>Partnership for Healthy Living</h2>
						<p></p>
					</a>
				</article>
			</div>
			<div class="col-sm-4">
				<article class="boxIcon">
					<a href="#">
						<i class="icon-hospital iconBig iconRounded"></i>
						<h2>Medbank</h2>
						<p></p>
					</a>
				</article>
			</div>
			<div class="col-sm-4">
				<article class="boxIcon">
					<a href="#">
						<i class="icon-shield iconBig iconRounded"></i>
						<h2>Cancer Fund</h2>
						<p></p>
					</a>
				</article>
			</div>
			<div class="col-sm-4">
				<article class="boxIcon">
					<a href="#">
						<i class="icon-puzzle iconBig iconRounded"></i>
						<h2>Cancer Fund</h2>
						<p></p>
					</a>
				</article>
			</div>
			<div class="col-sm-4">
				<article class="boxIcon">
					<a href="#">
						<i class="icon-apple iconBig iconRounded"></i>
						<h2>Partnership Wellness and Disease Management</h2>
						<p></p>
					</a>
				</article>
			</div>
		</div>
	</div>
</section>