<section class="largeQuote pb40 pt40">
<div class="container">
	<div class="row">
		<div class="span12 text-center">
			<h1>LCPFH is now SGPFH...</h1>
			<h2 class="subTitle">We offer the same great services, only to a larger audience and with a new streamline approach to serve you better.</h2>

		</div>
	</div>
</div>
</section>
<!-- services -->
<%= render :partial => "common/sections/services" %>
<!-- parallax -->
<section id="paralaxSlice3" data-stellar-background-ratio="0.5">
<div class="maskParent">
	<div class="paralaxMask"></div>
	<div class="paralaxText">
		<blockquote>
			Healing is a matter of time, <br/>but it is sometimes also a matter of opportunity.
		</blockquote>
	</div>
</div>
</section>
<!-- parallax -->
	<!-- team -->
	<%= render :partial => "common/sections/team" %>
	<!-- team -->
	<!-- contact -->
	<%= render :partial => "common/sections/contact" %>
	<!-- content -->
</section>
<!-- call to action -->
<section class="color2">  
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="ctaBox ctaBoxFullwidth ctaBox2Cols">
					<div class="ctaBoxText" data-nekoanim="fadeInUp" data-nekodelay="0">
						<h1>
							<strong>South Georgia Partnership for Health</strong><br /> Relies on your generosity to provide its valuable services to the community.
						</h1>
					</div>
					<div class="ctaBoxBtn" data-nekoanim="fadeInDown" data-nekodelay="0">
						<a class="btn btn-lg btn-border" title="" href="#" target="blank">
							<i class="icon-down-open-big"></i> donate now
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- call to action -->