<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ref_pysician.name %>
</p>

<%= link_to 'Edit', edit_ref_pysician_path(@ref_pysician) %> |
<%= link_to 'Back', ref_pysicians_path %>
