<footer id="footerWrapper" class="footer2">
					<section id="mainFooter">
						<div class="container">
							<div class="row">
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">
										<img src="/images/SGPH_Logo_small.png" alt="SGPFH" id="footerLogo">
										<p><a href="#" title="South Georgia Partnership for Health">SGPFH</a> has raised over $5.5 million through federal, state and local contributions to improve the health of Lowndes County citizens and the surrounding area. </p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<!--<h3>Latest works</h3>
										<ul class="list-unstyled worksList">
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works1.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works2.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works3.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works4.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works5.jpg" alt="works"></a></li>
											<li><a href="#" class="tips" title="" data-original-title="Little Neko work"><img src="images/theme-pics/works6.jpg" alt="works"></a></li>

										</ul>-->
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<!--<h3>Latest news</h3>
										<ul class="list-unstyled iconList">
											<li><a href="#">Solace of a lonely highway</a></li>
											<li><a href="#">Write with purpose</a></li>
											<li><a href="#">Tree on a lake</a></li>
											<li><a href="#">Don’t stop questioning</a></li>
											<li><a href="#">Overheard this morning</a></li>
										</ul>-->
									</div>
								</div>
								<div class="col-md-3 col-sm-6">
									<div class="footerWidget">

										<h3>SGPFH</h3>
										<address>
											<p>


												<i class="icon-location"></i>&nbsp;203 Woodrow Wilson Dr.<br>
												Valdosta, GA 31602 <br>
												<i class="icon-phone"></i>&nbsp;229.245.0020  <br>
												<i class="icon-mail-alt"></i>&nbsp;<a href="mailto:john.sparks@lcpfh.org">info@sgpfh.org</a>
											</p>
										</address>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section id="footerRights">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<ul class="socialNetwork">
										<li><a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Twitter"><i class="icon-twitter-bird iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a></li>
										<li><a href="#" class="tips" title="follow me on Dribble"><i class="icon-dribbble iconRounded"></i></a></li>
									</ul>     
								</div>
								<div class="col-md-12">
									<p>Copyright © 2014 <a href="#" target="blank">SGPFH</a> / All rights reserved.</p>
								</div>
							</div>
						</div>
					</section>
				</footer>