<section id="contact" class="color1 pt40 pb40">
	<a name="contact"></a>
	<div class="container">
		<div class="row">
			<div class="col-md-12 mb40 text-center">
				<h1>Contact</h1>
				<h2 class="subTitle">Keep in touch with us</h2>
			</div>
			<div class="col-md-4 mb15" data-nekoanim="fadeInUp" data-nekodelay="0">
			<!--
				<div id="mapWrapper"></div>
			-->
			</div>
			<div class="col-md-5 col-sm-8"  data-nekoanim="fadeInUp" data-nekodelay="100">
				<div class="boxFocus color0">
					<form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm" role="form">

						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" name="name" id="name" placeholder="Enter name"  title="Please enter your name (at least 2 characters)"/>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" class="form-control" name="email" id="email" placeholder="Enter email" title="Please enter a valid email address"/>
						</div>
						<div class="form-group">
							<label for="phone">Phone</label>
							<input name="phone" class="form-control" type="tel" id="phone" size="30" value="" placeholder="Enter email phone" title="Please enter a valid phone number (at least 10 characters)">
						</div>

						<div class="form-group">
							<label for="category">Program</label>
							<select class="form-control required"  name="category" id="category" title="Please select a category">
								<option value="">Select a program</option>
								<option value="0">Partnership Health Center</option>
								<option value="1">Partnership for Healthy Living</option>
								<option value="2">Medbank</option>
								<option value="3">The Partnership Cancer Fund</option>
								<option value="4">Partnership Wellness and Disease Management</option>
							</select>
						</div>

						<div class="form-group">
							<label for="comments">Comments</label>
							<textarea name="comment" class="form-control" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
						</div>
						<fieldset class="clearfix securityCheck">
							<h3>Security</h3>
							<div class="form-group">
								<img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification"/>
								<input class="required form-control"  id="verify" name="verify" type="text" >
							</div>
						</fieldset>

						<div class="result"></div>
						<button name="submit" type="submit" class="btn btn-primary" id="submit"> Submit</button>
						
					</form>
				</div>
			</div>
			<div class="col-md-3 col-sm-4"  data-nekoanim="fadeInUp" data-nekodelay="200">
				<h4>Address:</h4>
				<address>
					South Georgia Partnership for Health<br/>
					203 Woodrow Wilson Dr.<br/>
					Valdosta, GA 31602<br/>
				</address>
				<h4>Phone:</h4>
				<address>
					229.245.0020 <br/>
				</address>
			</div>
		</div>
	</div>
	<!-- contact -->
</section>