<section id="services" class="color2 shadowBox">
	<a name="services"></a>
	<div class="container pb30 pt15">
		<div class="row">
			<div class="col-sm-6">
				<article class="boxIcon">
					<a href="/healthcenter">
						<img class="col-sm-12" src="/images/PHC_logo.png">
						<h2>Partnership Health Center</h2>
						<p>The Partnership Health Center is a free primary healthcare facility staffed by volunteer physicians, nurse practitioners, physician extenders, nurses and administrative staff who serve the healthcare needs of the working uninsured in Lowndes County. Services include non-emergency healthcare and referrals to specialists and labs. Proof of eligibility is required.
						</p>
					</a>
				</article>
			</div>
			<div class="col-sm-6">
				<article class="boxIcon">
					<a href="/pcf">
						<img class="col-sm-12" src="/images/PCF_logo.png">
						<h2>Partnership Cancer Fund</h2>
						<p>The Partnership Cancer Fund was created to assist area cancer patients undergoing cancer treatment with certain medically related expenses.  Treatment can be costly, especially if you are no longer able to work or do not have health insurance. The cost of medication, durable medical equipment, nutritional supplements, and transportation to and from treatment often places an additional financial strain on families.</p>
					</a>
				</article>
			</div>
			<div class="col-sm-6">
				<article class="boxIcon">
					<a href="/wellness">
						<img class="col-sm-12" src="/images/DM_logo.png">
						<h2>Partnership Wellness and Disease Management</h2>
						<p>Partnership Wellness Disease Management provides in-person disease management and wellness programs for employers who are self-insured. Our staff members meet personally with each employee to assist them in the management of their chronic disease, compliance with physician orders and navigation of the health care system.
						</p>
					</a>
				</article>
			</div>
			<div class="col-sm-6">
				<article class="boxIcon">
					<a href="/wellness">
						<i class="icon-heart iconBig iconRounded"></i>
						<h2>Connect South Georgia</h2>
						<p>Connect South Georgia is a resource website created to assist you in locating programs and agencies in Valdosta and the surrounding area that address needs within our community.
						</p>
					</a>
				</article>
			</div>
		</div>
	</div>
</section>
