<section id="team5" class="pt40 pb40">
	<a name="team"></a>
	<div class="container">
		<div class="row"> 

			<div class="col-md-12 mb40 text-center">
				<h1>Meet our team</h1>
				<h2 class="subTitle"></h2>
			</div>
			<section class="col-md-12">
				<div class="row mb15">
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInLeft" data-nekodelay="0">
						<article>
							<div><img src="images/team/team-corporate-3.jpg" alt="" class="img-responsive"></div>
							<div class="boxContent text-center">
								<h3>John Sparks</h3>
								<p>Executive Director</p>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInUp" data-nekodelay="0">
						<article>
							<div><img src="images/team/team-corporate-3.jpg" alt="" class="img-responsive"></div>
							<div class="boxContent text-center">
								<h3>Alan  Powell</h3>
								<p>Wellness and Disease Management</p>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="fadeInDown" data-nekodelay="0">
						<article>
							<div><img src="images/team/team-corporate-2.jpg" alt="" class="img-responsive"></div>
							<div class="boxContent text-center">
								<h3>Carol Morgan</h3>
								<p>Staff Nurse</p>
							</div>
						</article>
					</div>
					<div class="col-md-3 col-sm-6" data-nekoanim="slideInRight" data-nekodelay="0">
						<article>
							<div><img src="images/team/team-corporate-2.jpg" alt="" class="img-responsive"></div>
							<div class="boxContent text-center">
								<h3>Kathy Powers</h3>
								<p>Clerical</p>
							</div>
						</article>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>